@import '../../assets/_mixins.scss';
.fitness-holder{
  background-image: linear-gradient(180deg, #34C7A0, #008AA2);
  padding: 20px 17px 155px 18px;
}


.fitness-week-activity{

  //welcome message style start
  .fitness-welcome-msg{
    @include fitnessMessageHolder();
    background: #fff;

    h5{
      @include fitnessMessageTitle();
      color: #00B6A3;
    }

    .week-subtitle{
      @include fitnessMessageSubtitle();
      color: #898694;
    }
  }
  //fitnes message style end

  //fitness days style start
  .fitness-days{
    display: inline-block;
    width: 100%;
    margin-top: 30px;

    .fitness-day-item{
      @include fitnessDay();
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        cursor: pointer;
        background: rgba(255, 255, 255, 0.45);
      }

      .fitness-date{
        @include fitnessDate();
      }

      >span{
        color: rgba(255, 255, 255, 0.70);
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.24px;
      }
    }
  }
  //fitness days style end

  //fitness week time style start
  .fitness-week-time{
    @include fitnessHolder();

    .fitness-week-average{
      display: table;

      .fitness-icon{
        @include fitnessIcon();
        background: rgba(255, 255, 255, 0.25);
      }

      > div{
        display: table-cell;
      }

      .fitness-average-title{
        padding-left: 15px;

        .activity-label{
          @include fitnessTitle();
        }

        .average-label{
          @include fitnessLabel();
        }
      }
    }

    .fitness-spent-week-time{
      @include fitnessWeekValue();
    }
  }
  //fitness week time style end

  //fitness steps style start
  .fitness-steps{
    @include fitnessHolder();
    margin-top: 15px;
    padding: 24px 30px 24px 20px;

    > div{
      display: table-cell;
    }

    .fitness-average-title{
      display: table-cell;
      padding-left: 15px;

      .steps-label{
        @include fitnessTitle();
      }

      .total-label{
        @include fitnessLabel();
      }
    }

    .fitness-steps-walked{
      @include fitnessWeekValue();
      vertical-align: middle;
      width: 99%;
      text-align: right;
    }

    .fitness-week-steps{

      .fitness-step-icon{
        @include fitnessIcon();
        display: table-cell;
        background: rgba(255, 255, 255, 0.25);
        .mat-icon{
          width: 41px;
          height: 41px;
          line-height: 41px;
        }
      }
    }
  }
  //fitneess steps style end

  //fitness calories style start
  .fitness-calories{
    @include fitnessHolder();
    margin-top: 15px;
    padding: 24px 30px 24px 20px;

    > div{
      display: table-cell;
    }

    .fitness-average-title{
      display: table-cell;
      padding-left: 15px;

      .calories-label{
        @include fitnessTitle();
        padding-right: 20px;
      }

      .total-label{
        @include fitnessLabel();
      }
    }

    .fitness-calories-burned{
      @include fitnessWeekValue();
      vertical-align: middle;
      width: 99%;
      text-align: right;
    }

    .fitness-week-calories{

      .fitness-calories-icon{
        @include fitnessIcon();
        display: table-cell;
        background: rgba(255, 255, 255, 0.25);

        .mat-icon{
          width: 41px;
          height: 41px;
          line-height: 41px;
        }
      }
    }
  }
  //fitness calories style end

}
