@import '../../assets/_mixins.scss';
.fitness-holder{
  padding: 20px 17px 0 18px;
  background-image: linear-gradient(180deg, #34C7A0, #008AA2);
}
//welcome message style start
.fitness-day-msg{
  @include fitnessMessageHolder();
  background: rgba(255, 255, 255, 0.25);
  position: relative;
  
  mat-icon{
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    transform: translateY(-50%);
    color: #fff;
    line-height: 40px;
    left: 10px;
  }

  h5{
    @include fitnessMessageTitle();
    color: #fff;
    margin-left: 60px;
  }

  .day-subtitle{
    @include fitnessMessageSubtitle();
    color: rgba(255, 255, 255, 0.70);
    margin-left: 60px
  }
}
//fitnes message style end

//fitness days style start
.fitness-days{
  display: inline-block;
  width: 100%;
  margin-top: 30px;

  .fitness-day-item{
    @include fitnessDay();
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      cursor: pointer;
      background: rgba(255, 255, 255, 0.45);
    }

    .fitness-date{
      @include fitnessDate();
    }

    >span{
      color: rgba(255, 255, 255, 0.70);
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.24px;
    }
  }
}


//fitness info day style start
.fitness-day-info-holder{
  margin-top: 30px;
  padding-top: 40px;
  background-color: #fff;
  -webkit-border-radius: 28px 28px 0 0;
  -moz-border-radius: 28px 28px 0 0;
  border-radius: 28px 28px 0 0;

  .fitness-image{
    display: block;
    width: 215px;
    height: 215px;
    margin: 0 auto;
    border: 8px solid #00B6A3;
    border-radius: 50%;
    text-align: center;

    .fitness-step-icon{
      @include fitnessIcon();
      display: block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 28px;
      background: rgba(0, 182, 163, 0.25);
      .mat-icon{
        width: 41px;
        height: 41px;
        line-height: 41px;
      }
    }

    .fitness-steps-label{
      @include fitnessDayImageLabel();
      margin: 6px 0 4px;
      display: block;
    }

    .fitness-steps{
      color: #151C1F;
      font-size: 48px;
      line-height: 58px;
      letter-spacing: 1.15px;
      font-family: 'Helvetica Neue';
    }
  }

  .fitness-moral-msg{
    margin-top: 30px;
    text-align: center;

    h4{
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0.96px;
      color: #151C1F;
      font-family: 'Helvetica Neue';
      margin: 0;
    }

    .fitness-mark{
      @include fitnessDayImageLabel();
    }
  }

  .fitness-data{
    margin-top: 73px;
    padding-bottom: 29px;
    .fitness-data-item{
      display: inline-block;
      width: 33%;
      border-right: 1px solid #EBEBEB;
      text-align: center;
      padding-top: 11px;

      &:last-child{
        border: 0;
      }

      .info-label{
        display: block;
        color: #B3B3B3;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.54px;
        font-family: "Helvetica Neue, regular";
      }
      .info-data{
        display: block;
        color: #00B6A3;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: 0.96px;
        font-family: "Helvetica Neue";
      }
    }
  }
}
//fitness info day style end

//fitness days style end

