<div class="fitness-day-activity">
  <!--day info-->
  <div class="fitness-day-info-holder">
    <div class="fitness-image">
      <div class="fitness-step-icon">
        <mat-icon>directions_run</mat-icon>
      </div>
      <span class="fitness-steps-label">Steps</span>
      <span class="fitness-steps">{{stepsPerDay}}</span>
    </div>
    <div class="fitness-moral-msg">
      <span class="fitness-mark">Very good</span>
      <h4 class="fitness-moral-title">Keep going!</h4>
    </div>
    <div class="fitness-data">
      <div class="fitness-data-item">
        <span class="info-label">km</span>
        <span class="info-data">{{kmPerDay}}</span>
      </div>
      <div class="fitness-data-item">
        <span class="info-label">cal</span>
        <span class="info-data">{{calPerDay}}</span>
      </div>
      <div class="fitness-data-item">
        <span class="info-label">hours</span>
        <span class="info-data">{{hPerDay}}</span>
      </div>
    </div>
  </div>
</div>

