@mixin fitnessHolder() {
  background: rgba(255, 255, 255, 0.25);
  margin-top: 30px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  padding: 25px 20px 46px;
}

@mixin fitnessMessageHolder() {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  display: inline-block;
  width: 100%;
}

@mixin fitnessMessageTitle(){
  font-family: 'Helvetica Neue';
  font-size: 34px;
  letter-spacing: 0.48px;
  line-height: 41px;
  margin: 24px 0 10px 27px;
  font-weight: 700;
}

@mixin fitnessMessageSubtitle(){
  font-family: "Helvetica Neue, medium";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.24px;
  line-height: 19px;
  margin-left: 27px;
  margin-bottom: 24px;
  display: inline-block;
}

@mixin fitnessWeekValue() {
  color: #fff;
  font-size: 38px;
  line-height: 46px;
  letter-spacing: 0.91px;
  text-align: center;
  margin-top: 25px;
  font-family: 'Helvetica Neue';
}

@mixin fitnessTitle() {
  display: block;
  font-size: 20px;
  font-family: "Helvetica Neue, medium";
  line-height: 25px;
  letter-spacing: 0.48px;
  color: #fff;
}

@mixin fitnessLabel() {
  display: block;
  font-size: 16px;
  font-family: "Helvetica Neue, medium";
  line-height: 19px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.7);
}

@mixin fitnessIcon() {
  vertical-align: middle;
  width: 41px;
  height: 41px;
  text-align: center;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  border-radius: 3em;
  color: #fff;

}

@mixin backgroundTransition() {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

@mixin fitnessDay() {
  width: 60px;
  height: 60px;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  background: rgba(255, 255, 255, 0.25);
  margin-right: 10px;
  @include backgroundTransition();
}

@mixin fitnessDate(){
  display: block;
  margin: 11px 13px;
  font-family: "Helvetica Neue, medium";
}

@mixin fitnessDayImageLabel{
  color: #151C1F;
  font-size: 20px;
  letter-spacing: 0.6px;
  line-height: 23px;
  font-family: "Helvetica Neue, regular";
}
